* {
    box-sizing: border-box;
}

main {
    display: flex;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#new-project-modal {
    display: none;
}

#add-todo-modal {
    display: none;
}

.project-element {
    display: flex;
    flex-direction: row;
}

.todo-overview {
    display: flex;
    flex-direction: row;
}

.todo-element:has(.priority-LOW) {
    color: green;
}

.todo-element:has(.priority-MEDIUM) {
    color: orange;
}

.todo-element:has(.priority-HIGH) {
    color: red;
}

.todo-overview[data-expanded="false"]::before {
    content: ">";
}

.todo-overview[data-expanded="true"]::before {
    content: "v";
}

.todo-overview[data-expanded="false"]+.todo-details {
    display: none;
}

.todo-overview[data-expanded="false"]+.todo-details {
    display: none;
}

#new-todo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#gh-link {
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0;
    color: rgb(0, 96, 169);
    display: flex;
    align-items: center;
    margin: 10px 0;
    height: 38px;
}

#gh-logo {
    width: 35px;
    height: 35px;
    margin: 0 10px;
    transition: transform 0.3s ease-in-out;
}

#gh-link:hover #gh-logo {
    transform: rotate(360deg) scale(1.2);
}