@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Roboto+Mono:wght@400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --primary-color: #dc4c3e;
    --highlight-color: #f6efee;
    --selected-color: #fee6e3;
    --shade-color: #faf8f7;
    --background-color: #ffffff;
    --font-dark: #000000;
    --font-medium: #444444;
    --font-light: #a1a1a1;
    --super-light: #f0f0f0;
    --cancel-normal: rgb(245, 245, 245);
    --cancel-hover: rgb(229, 229, 229);
    --confirm-disabled: rgb(237, 165, 158);
    --confirm-hover: rgb(195, 57, 44);
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

#content {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    padding: 24px;
    background-color: var(--highlight-color);
}

header>#logo {
    height: 40px;
    margin-right: 5px;
}

header>#title {
    font-size: 40px;
    font-family: 'Pangolin', cursive;
    color: var(--primary-color);
}

main {
    flex: auto;
    display: flex;
}

#selection-panel {
    background-color: var(--shade-color);
    color: var(--font-medium);
    font-weight: 300;
    padding: 16px;
    width: 250px;
}

#static-selection {
    margin-bottom: 16px;
}

#static-selection>div {
    padding: 4px 8px;
    border-radius: 4px;
}

#static-selection>div:before {
    margin-right: 4px;
    vertical-align: -40%;
}

#inbox::before {
    content: url("./img/inbox.svg");
}

#today::before {
    content: url("./img/clock.svg");
}

#this-week::before {
    content: url("./img/calendar.svg");
}

#static-selection>div:hover, .project-list-element:hover {
    background-color: var(--highlight-color);
}

#my-projects {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    margin-bottom: 8px;
}

#new-project-button {
    padding: 0 4px;
    border-radius: 4px;
    font-size: 24px;
    font-weight: 100;
    position: relative;
    bottom: 2px;
}

#new-project-button:hover {
    color: var(--font-dark);
    background-color: var(--highlight-color);
}

#new-project-button:active {
    color: var(--font-dark);
    background-color: var(--selected-color);
}

.project-list-element {
    display: flex;
    padding: 4px;
    height: 35px;
    border-radius: 4px;
    align-items: center;
}

.project-name {
    margin-right: auto;
}

.edit-project-button::before {
    content: url("./img/edit.svg");
    margin-right: 6px;
}

.delete-project-button::before {
    content: url("./img/trash.svg");
}

.edit-project-button::before, .delete-project-button::before {
    filter: brightness(0) saturate(100%) invert(23%) sepia(0%) saturate(1644%) hue-rotate(169deg) brightness(97%) contrast(84%);
}

.edit-project-button:hover {
    filter: brightness(0) saturate(100%) invert(0%) sepia(3%) saturate(7489%) hue-rotate(149deg) brightness(94%) contrast(103%);
}

.delete-project-button:hover {
    filter: brightness(0) saturate(100%) invert(32%) sepia(89%) saturate(1783%) hue-rotate(342deg) brightness(95%) contrast(81%);
}

.edit-project-button, .delete-project-button {
    display: none;
}

.project-list-element:hover .edit-project-button {
    display: block;
}

.project-list-element:hover .delete-project-button {
    display: block;
}

#static-selection>div:hover, #new-project-button:hover, .project-list-element:hover {
    cursor: pointer;
}

#selection-panel .selected, #selection-panel .selected:hover {
    color: var(--primary-color);
    font-weight: 400;
    background-color: var(--selected-color);
}

#todo-panel-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

#todo-panel {
    padding: 16px 48px;
    flex: 0 1 800px;
}

#view-name {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.project-element {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.todo-panel-project-name {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;
}

.todo-element {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 4px;
    margin-bottom: 4px;
    font-weight: 300;
}

.todo-overview {
    display: flex;
    flex-direction: column;
}

.todo-overview:hover,
checkbox:hover {
    cursor: pointer;
}

.todo-overview-first-row {
    display: flex;
    height: 20px;
}

.todo-title {
    margin-left: 4px;
    margin-right: auto;
    line-height: 20px;
    text-align: center;
}

.todo-overview-second-row {
    margin-left: 8px;
    margin-top: 4px;
}

.todo-due-date {
    font-size: 13px;
    color: var(--primary-color);
}

.todo-details {
    margin-left: 8px;
    margin-top: 8px;
}

.todo-element:has(.priority-LOW) {
    border-left: solid green 4px;
}

.todo-element:has(.priority-MEDIUM) {
    border-left: solid orange 4px;
}

.todo-element:has(.priority-HIGH) {
    border-left: solid red 4px;
}

.todo-overview-first-row::before {
    font-family: "Roboto Mono", monospace;
    font-weight: 500;
}

.todo-overview[data-expanded="false"]>.todo-overview-first-row::before {
    content: "\00a0 ";
}

.todo-overview[data-expanded="false"]:hover>.todo-overview-first-row::before {
    content: ">";
}

.todo-overview[data-expanded="true"]>.todo-overview-first-row::before {
    content: "v";
}

.todo-overview[data-expanded="false"]+.todo-details {
    display: none;
}

.edit-todo-button::before {
    content: url("./img/edit.svg");
    margin-right: 6px;
}

.delete-todo-button::before {
    content: url("./img/trash.svg");
}

.edit-todo-button::before, .delete-todo-button::before {
    filter: brightness(0) saturate(100%) invert(23%) sepia(0%) saturate(1644%) hue-rotate(169deg) brightness(97%) contrast(84%);
}

.edit-todo-button:hover {
    filter: brightness(0) saturate(100%) invert(0%) sepia(3%) saturate(7489%) hue-rotate(149deg) brightness(94%) contrast(103%);
}

.delete-todo-button:hover {
    filter: brightness(0) saturate(100%) invert(32%) sepia(89%) saturate(1783%) hue-rotate(342deg) brightness(95%) contrast(81%);
}

.edit-todo-button, .delete-todo-button {
    display: none;
}

.todo-element:hover .edit-todo-button {
    display: block;
}

.todo-element:hover .delete-todo-button {
    display: block;
}

.todo-element.completed {
    color: var(--font-light);
    border-left: solid var(--font-light) 4px;
}

.todo-element.completed .todo-due-date {
    color: var(--font-light);
}

.todo-element.completed .todo-title {
    text-decoration: line-through;
}

.add-todo-button::before {
    content: '';
    background: url("./img/plus-circled.svg");
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 3px;
    margin-right: 6px;
    filter: brightness(0) saturate(100%) invert(23%) sepia(0%) saturate(1644%) hue-rotate(169deg) brightness(97%) contrast(84%);
}

.add-todo-button:hover::before {
    background: url("./img/plus-circled-full.svg");
    filter: brightness(0) saturate(100%) invert(32%) sepia(89%) saturate(1783%) hue-rotate(342deg) brightness(95%) contrast(81%);
}

.add-todo-button {
    align-self: center;
    color: var(--font-medium)
}

.add-todo-button:hover {
    cursor: pointer;
    color: var(--primary-color)
}

.project-divider {
    border-top: solid var(--super-light) 1px;
    margin: 4px 0;
}

#new-project-modal, #edit-project-modal, #delete-project-modal, #add-todo-modal, #edit-todo-modal {
    display: none;
    z-index: 2;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0,0,0,0.3);
    align-items: center;
    justify-content: center;
}

#new-project-modal>.modal-content, 
#edit-project-modal>.modal-content,
#delete-project-modal>.modal-content,
#add-todo-modal>.modal-content,
#edit-todo-modal>.modal-content {
    z-index: 3;
    background-color: var(--background-color);
    padding: 16px;
    border-radius: 8px;
    box-shadow: rgba(0,0,0,0.16) 0px 2px 8px 0px;
    width: 450px;
}

.modal-content {
    display: flex;
    flex-direction: column;
}


.modal-content>div {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

#delete-project-modal>.modal-content>div {
    flex-direction: row;
}

.modal-content>div:has(input[type="checkbox"]) {
    flex-direction: row;
}

.modal-content input[type="checkbox"] {
    position: relative;
    bottom: 3px;
    margin-left: 8px;
}

.modal-content label {
    font-weight: 500;
    margin-bottom: 6px;
}

.modal-content>div:last-child {
    flex-direction: row;
    justify-content: flex-end;
}

.modal-content>input[type="button"] {
    align-self: center;
}

.modal-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;
}

.close-modal-button, .confirm-modal-button {
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin-left: 12px;
    margin-top: 16px;
}

.close-modal-button {
    background-color: var(--cancel-normal);
}

.close-modal-button:hover {
    background-color: var(--cancel-hover);
}

.close-modal-button:active, .confirm-modal-button:enabled:active, .add-todo-button:active {
    transform: scale(0.98);
}

.confirm-modal-button {
    background-color: var(--primary-color);
    color: #ffffff;
}

.confirm-modal-button:disabled {
    background-color: var(--confirm-disabled);
}

.confirm-modal-button:enabled:hover {
    background-color: var(--confirm-hover);
}

.confirm-modal-button:hover, .close-modal-button:hover {
    cursor: pointer;
}

#add-todo-project-name,
#edit-todo-project-name {
    font-size: 14px;
    margin-left: 8px;
}

input[type="text"],
textarea,
input[type="date"]
{
    border: solid var(--super-light) 1px;
    border-radius: 4px;
    padding: 8px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

select {
    border: solid var(--super-light) 1px;
    border-radius: 4px;
    background-color: var(--background-color);
    padding: 8px;
    font-family: "Roboto", sans-serif;
    font-size: 14px; 
}

#delete-project-name {
    font-weight: 700;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--highlight-color);
}

#gh-link {
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0;
    color: var(--font-medium);
    display: flex;
    align-items: center;
    margin: 10px 0;
    height: 38px;
}

#gh-logo {
    width: 35px;
    height: 35px;
    margin: 0 10px;
    transition: transform 0.3s ease-in-out;
}

#gh-link:hover #gh-logo {
    transform: rotate(360deg) scale(1.2);
}